@import url('https://fonts.googleapis.com/css2?family=Rubik+Lines&family=Young+Serif&display=swap');

.Recy {
  padding: 1rem;
  /* text-align: center; */
  font-size: 1rem;
  line-height: 1px; /* Puedes ajustar este valor según tus necesidades */
  font-family: 'Rubik Lines', sans-serif;
}

